body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }
}

.no-results-found {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.load-more-results {
    text-align: center;
    margin-bottom: 40px;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.custom-filter-dropdown button {
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

.list-container {
    margin: 80px auto 0;
}

.add-button{
  width: 13.5%;
  text-align: center;
  float: right;
  margin-top: 12px;
  margin-right: 4%;
}
.add-main-button{
    width: 20%;
    text-align: center;
    float: right;
    margin-right: 2%;
}

.table-header{
    overflow: hidden;
}

.table-title{
    font-weight: 900;
    font-size: 20px;
}

.signup-container {
    max-width: 420px;
    margin: 80px auto 0;
}

.signup-form-button {
    width: 100%;
    margin-top: 15px;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.signup-form input {
    margin-bottom: 3px;
}